In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import os
os.chdir('/content/drive/My Drive/Process mining course/preprocessing_assignment')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# step 1
# always import these for a machine learning project
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn

from sklearn.model_selection import train_test_split

In [ ]:
# step 2
# import the data
df = pd.read_csv(r'Data.csv')
# df.head()
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
# step 3
# take care of the missing values
# function to replace NaN values in data frame with the average of that column
def replace_nan(dataframe):
    for col in dataframe.columns:
        if dataframe[col].dtype == "float64" or dataframe[col].dtype == "int64":
            if dataframe[col].isna().sum() > 0:
                avg = dataframe[col].mean()
                dataframe[col].fillna(avg, inplace=True)
replace_nan(df)
print(df)

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [ ]:
# step 4
# encode categorical data
df = pd.get_dummies(df, columns=["Country"])
print(df)

         Age        Salary Purchased  Country_France  Country_Germany  \
0  44.000000  72000.000000        No               1                0
1  27.000000  48000.000000       Yes               0                0
2  30.000000  54000.000000        No               0                1
3  38.000000  61000.000000        No               0                0
4  40.000000  63777.777778       Yes               0                1
5  35.000000  58000.000000       Yes               1                0
6  38.777778  52000.000000        No               0                0
7  48.000000  79000.000000       Yes               1                0
8  50.000000  83000.000000        No               0                1
9  37.000000  67000.000000       Yes               1                0

   Country_Spain
0              0
1              1
2              0
3              1
4              0
5              0
6              1
7              0
8              0
9              0

In [ ]:
# step 5
# split train and test set
X = df.drop("Purchased", axis = 1)
y = df["Purchased"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=0)

print(X_train)

         Age   Salary  Country_France  Country_Germany  Country_Spain
9  37.000000  67000.0               1                0              0
1  27.000000  48000.0               0                0              1
6  38.777778  52000.0               0                0              1
7  48.000000  79000.0               1                0              0
3  38.000000  61000.0               0                0              1
0  44.000000  72000.0               1                0              0
5  35.000000  58000.0               1                0              0

In [ ]:
# step 6
# feature scaling
# TODO: Automate this
X_train['Age'] = (X_train['Age']-X_train['Age'].mean()) / X_train['Age'].std()
X_train['Salary'] = (X_train['Salary']-X_train['Salary'].mean()) / X_train['Salary'].std()

print(X_train)

        Age    Salary  Country_France  Country_Germany  Country_Spain
9 -0.187924  0.415666               1                0              0
1 -1.686557 -1.311946               0                0              1
6  0.078500 -0.948239               0                0              1
7  1.460572  1.506790               1                0              0
3 -0.038061 -0.129896               0                0              1
0  0.861119  0.870301               1                0              0
5 -0.487650 -0.402677               1                0              0